<h1>Pages#home</h1>


<% if current_user%>
<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
<h2> user name = <%= current_user.email.split('@')[0]%></h2>
<% else %>
    <%= link_to 'Sign up', new_user_registration_path %>
    <br>
    <%= link_to 'Login', new_user_session_path%>
<% end %>  
<%
=begin%>
 <h2> <%= current_user %> </h2>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %> 
<%
=end%>

<%
=begin%>
 <%= if current_user.id > 0 %>
<%= else %>
    <%= link_to 'Sign up', new_user_registration_path %>
    <br>
    <%= link_to 'Login', new_user_session_path%>
<%= end %>  
<%
=end%>
