<%= form_with(model: plant, local: true) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(plant.errors.count, "error") %> hat das Speichern der Pflanze verhindert:</p>

      <ul>
      <% plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new_user__container new_plant__real-name">
    <%= form.label :realName, 'Botanische Bezeichnung:'%>
    <%= form.text_field :realName, placeholder: "Monstera deliciosa"  %>
  </div>

  <div class="new_user__container new_plant__nick-name">
    <%= form.label :nickName, 'Nickname deiner Pflanze:'%>
    <%= form.text_field :nickName, placeholder: "Bubba"  %>
  </div>

  <div class="new_user__container new_plant__water-need new_user__pw">
    <%= form.label :waterNeed, 'Wasser pro Woche'%>
    <p class="new_user__pw__p">(in ml)</p>
    <%= form.number_field :waterNeed, placeholder: "150"  %>
  </div>

  <div class="new_user__container new_plant__water-current new_user__pw">
    <%= form.label :waterCurrent, 'Aktueller Wasserstand'%>
    <p class="new_user__pw__p">(in ml)</p>
    <%= form.number_field :waterCurrent, placeholder: "100"  %>
  </div>

  <div class="new_user__container new_plant__sun-need new_user__pw">
    <%= form.label :sunNeed, 'Direktes Sonnenlicht pro Tag' %>
    <p class="new_user__pw__p">(in Stunden)</p>
    <%= form.text_field :sunNeed, placeholder: "6" %>
  </div>

  <div class="new_user__container new_plant__sun-place">
    <%= form.label :place, 'Wo steht deine Pflanze gerade?'%>
    <%= form.text_field :place, placeholder: "Schlafzimmer"  %>
  </div>

  <div class="new_user__container new_plant__place">
    <%= form.label :love, 'Wie geht es deiner Pflanze auf einer Skala von 1-10?'%>
    <%= form.number_field :love, placeholder: "7"%>
  </div>

  <div class="new_user__container new_plant__love">
    <%= form.label :image, 'Hier kannst du ein Bild deiner Pflanze hochladen!'%>
    <%= form.file_field :image %>
  </div>

  <div class="new_user__submit-button">
    <%= form.submit %>
  </div>
<% end %>