<p id="notice"><%= notice %></p>

<p>
  <strong>Realname:</strong>
  <%= @plant.realName %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @plant.nickName %>
</p>

<p>
  <strong>Waterneed:</strong>
  <%= @plant.waterNeed %>
</p>

<p>
  <strong>Watercurrent:</strong>
  <%= @plant.waterCurrent %>
</p>

<p>
  <strong>Sunneed:</strong>
  <%= @plant.sunNeed %>
</p>

<p>
  <strong>Place:</strong>
  <%= @plant.place %>
</p>

<p>
  <strong>Love:</strong>
  <%= @plant.love %>
</p>

<div style="width:400px; height:auto">
<%= link_to image_tag(@plant.image, style:'width:100%'), plants_path %>
</div>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
